<form id="create-bookmark" class="custom-item bookmarks">
          <p>
            <h4>Add a new Bookmark:</h4>
          </p>
          <p>
            <input type="text" name="title" placeholder="Title" class="form-control">
          </p>
          <p>
            <input type="submit" value="Create" class="btn btn-qubico btn-block"></input>
          </p>
        </form>