<form data-bind="submit: addBookmark" class="custom-item bookmarks">
  <p>
    <h4>Add new recipe step (at current video time):</h4>
  </p>
  <p>
    <input data-bind="value: title" type="text" placeholder="Heat your oven to 400°F" class="form-control">
  </p>
</form>
