<form class="create-note custom-item notes">
  <p>
    <h4>Add a new note:</h4>
  </p>

  <div class="form-group">
    <div class="controls">
      <textarea name="note-text" class="form-control" rows="8"></textarea>
    </div>
  </div>

  <p>
    <button name="submit" type="submit" class="btn btn-qubico btn-block">
    Save</button>
  </p>
</form>