<li data-id="<%= note.id %>">
  <div class="note">
    <%= link_to '✗', delete_note_path(note.video,note), remote: true, method: :delete, class: 'delete-note' %>
    <pre>
       <%= note.content %>
    </pre>     
  </div>
</li>
