<!-- member 1 -->
<div class="row team-member">  
  <div class="col-sm-3 col-sm-offset-1 member-thumb scrollimation fade-right in">        
      <!-- image of member -->
    <img class="img-responsive img-center" src="assets/fabio.jpg" alt="">
    <h4>Fabio Kenji</h4>
    
  </div> 
  <div class="col-sm-7 scrollimation fade-left in">
    <div class="member-details">
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
      
      <ul class="member-socials">
        <li><a href="http://twitter.com/seibzhen" target="_blank"><i class="fa fa-twitter fa-fw"></i></a></li>
        <li><a href="http://github.com/fkenji" target="_blank"><i class="fa fa-github fa-fw"></i></a></li>
      </ul>
    </div>
  </div>
</div> 
<!-- member 2 -->
<div class="row team-member right"> 
  <div class="col-sm-3 col-sm-push-8 member-thumb scrollimation fade-left in">  
    <img class="img-responsive img-center" src="assets/nate.jpg" alt="">
    <h4>Nate Kratchman</h4>

          
  </div>
  <div class="col-sm-7 col-sm-pull-2 scrollimation fade-right in">        
    <div class="member-details">
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
      
      <ul class="member-socials">
        <li><a href="http://twitter.com/natekratchman" target="_blank"><i class="fa fa-twitter fa-fw"></i></a></li>
        <li><a href="http://github.com/natekratchman" target="_blank"><i class="fa fa-github fa-fw"></i></a></li>
      </ul>
    </div>
  </div> 
</div>
<!-- member 3 -->
  <div class="row team-member">
    <div class="col-sm-3 col-sm-offset-1 member-thumb scrollimation fade-right in"> 
      <img class="img-responsive img-center" src="assets/jarret.jpg" alt="">
      <h4>Jarret Moses</h4>          
    </div>
    <div class="col-sm-7 scrollimation fade-left in">     
      <div class="member-details">
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>      
        <ul class="member-socials">
          <li><a href="http://twitter.com/jarretmoses" target="_blank"><i class="fa fa-twitter fa-fw"></i></a></li>
          <li><a href="http://github.com/jmoses89" target="_blank"><i class="fa fa-github fa-fw"></i></a></li>
        </ul>
      </div>
    </div>   
  </div>