<!-- member 1 -->
<div class="row team-member">  
  <div class="col-sm-3 col-sm-offset-1 member-thumb scrollimation fade-right in">        
      <!-- image of member -->
    <img class="img-responsive img-center" src="assets/fabio.jpg" alt="">
    <h4>John Doe</h4>
    <p class="title">Lead Designer &amp; Founder</p>
    
  </div> 
  <div class="col-sm-7 scrollimation fade-left in">
    <div class="member-details">
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
      
      <ul class="member-socials">
        <li><a href="mailto:mail@example.com"><i class="fa fa-envelope fa-fw"></i></a></li>
        <li><a href="#link"><i class="fa fa-twitter fa-fw"></i></a></li>
        <li><a href="#link"><i class="fa fa-facebook fa-fw"></i></a></li>
        <li><a href="#link"><i class="fa fa-linkedin fa-fw"></i></a></li>
        <li><a href="#link"><i class="fa fa-github fa-fw"></i></a></li>
      </ul>
    </div>
  </div>
</div> 
<!-- member 2 -->
<div class="row team-member right"> 
  <div class="col-sm-3 col-sm-push-8 member-thumb scrollimation fade-left in">  
    <img class="img-responsive img-center" src="assets/fabio.jpg" alt="">
    <h4>John Doe Jr</h4>
    <p class="title">Designer</p>
          
  </div>
  <div class="col-sm-7 col-sm-pull-2 scrollimation fade-right in">        
    <div class="member-details">
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
      
      <ul class="member-socials">
        <li><a href="mailto:mail@example.com"><i class="fa fa-envelope fa-fw"></i></a></li>
        <li><a href="#link"><i class="fa fa-twitter fa-fw"></i></a></li>
        <li><a href="#link"><i class="fa fa-facebook fa-fw"></i></a></li>
        <li><a href="#link"><i class="fa fa-linkedin fa-fw"></i></a></li>
        <li><a href="#link"><i class="fa fa-github fa-fw"></i></a></li>
      </ul>
    </div>
  </div> 
</div>
<!-- member 3 -->
  <div class="row team-member">
    <div class="col-sm-3 col-sm-offset-1 member-thumb scrollimation fade-right in"> 
      <img class="img-responsive img-center" src="assets/fabio.jpg" alt="">
      <h4>Richard Roe</h4>
      <p class="title">Lead Developer</p>              
    </div>
    <div class="col-sm-7 scrollimation fade-left in">     
      <div class="member-details">
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>      
        <ul class="member-socials">
          <li><a href="mailto:mail@example.com"><i class="fa fa-envelope fa-fw"></i></a></li>
          <li><a href="#link"><i class="fa fa-twitter fa-fw"></i></a></li>
          <li><a href="#link"><i class="fa fa-facebook fa-fw"></i></a></li>
          <li><a href="#link"><i class="fa fa-linkedin fa-fw"></i></a></li>
          <li><a href="#link"><i class="fa fa-github fa-fw"></i></a></li>
        </ul>
      </div>
    </div>   
  </div>