<% if @user_videos_set && @user_videos_set.present? %>

<section id="portfolio" class="gray-bg padding-top-bottom">
      <div class="container">
        <h3>My Videos</h3>
        
            <div class="projects-container scrollimation in">
                  <% @user_videos_set.each do |video_set| %>
                    <div class="row">
                      <% video_set.each do |video| %>
                        <%= render video %>
                      <% end %>
                    </div><!-- End Row -->
                  <% end %>
            </div><!-- End Projects Container -->
        
        <p class="text-center"><a id="ajax-load" class="btn btn-qubico" href="#"><i class="fa fa-plus-circle"></i>Load More</a></p>
        
      </div><!-- End container -->
      
  </section>

<% else %>
  <section id="portfolio" class="gray-bg padding-top-bottom">
      <div class="container">
        <h3>You don't have any notes on videos so far!</h3>
      </div>
  </section>
<% end %>