<div class="container">
  <h1 class="section-title">MEET THE TEAM</h1>
  <p class="section-description">
    Just a bunch of motivated <a href="http://flatironschool.com" target="_blank">Flatiron</a> students
  </p> 
  <%= render 'videos/members' %>
</div>