<header id="home" class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 tagline">
          <h1 class="title">Re/note</h1>
          <h3>Your companion for video lectures.</h3>
      </div>
    </div>
  </div>
  <div class="container">
    <%= form_tag(videos_path) %>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="form-group">
          <%= text_field_tag 'url', nil ,placeholder: 'Enter video url', class: "form-control input-lg" %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-md-offset-3" id="main-page-actions">
        <%= submit_tag 'Take notes!', class: 'btn btn-qubico btn-lg btn-action' %>
        <div id="or-buttons">
          <span>- or -</span>
        </div>
        <%= button_tag "Try me out!", id:'try-me-out', class: 'btn btn-qubico white', style: 'display:inline' %>
      </div>
    </div>

  </div> <!-- end .container -->
</header> <!-- end header -->