<div class="row">

  <!-- start video -->
  <div class="col-md-8">
    <video id="the_video" data-id="<%= @video.id %>" class="video-js vjs-default-skin" controls
     preload="auto" width="640" height="264" >
     <source src="<%= @video.url %>" type='video/mp4'>
     <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
    </video>
  </div>
  <!-- end video -->

  <!-- start bookmarks -->
  <!-- <div class="col-md-3">
  <p>Bookmarks:</p>
  <ul id="bookmarks">
    <%#= render @bookmarks %>
  </ul> -->
  <!-- end bookmarks -->

  <!-- start notes -->
  <% if current_user %>

  <div class="col-md-4">
    <div class="row">
      <div id="notes" class="container">
        <%= render @notes %>
      </div>
    </div>
  
    <div class="row">
      <form id="contact-form" class="create-note">
        <div class="form-group">
          <div class="controls">
            <textarea id="contact-message" name="note-text"  placeholder="Add a note..." class="form-control requiredField label_better" rows="6"></textarea>
            <i class="fa fa-comment"></i>
          </div>
        </div>
      
        <p><button name="submit" type="submit" class="btn btn-qubico btn-block"><i class="fa fa-location-arrow"></i>Submit</button></p>
      </form>
    </div>
  </div>

      <!-- <form id="create-bookmark">
        <p>
          <label for="title">Title:</label>
          <input type="text" name="title">
        </p>
        <p>
          <input type="submit" value="Create Bookmark"></input>
        </p>
      </form>

      <form id="create-comment">
        <p>
          <label for="comment-text">Comment:</label>
          <input type="text" name="comment-text">
        </p>
        <p>
          <input type="submit" value="Submit"></input>
        </p>
      </form> -->

    <% else %>
      
      <%= link_to "Login to comment and add bookmarks", '/auth/github' %>

    <% end %>
    <!-- end notes -->
    
    <!-- start comments -->
    <!-- <p>Comments:</p>
    <ul id="comments">
      
      <%#= render @comments %>

    </ul> -->
    <!-- end comments -->