<video id="MY_VIDEO_1" data-id="<%= @video.id %>" class="video-js vjs-default-skin" controls
 preload="auto" width="640" height="264" >
 <source src="<%= @video.url %>" type='video/mp4'>
 <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
</video>

<ul id="bookmarks">
  
  <%= render @bookmarks %>

</ul>



<form id="create-bookmark">
  <p>
    <label for="title">Title:</label>
    <input type="text" name="title">
  </p>
  <p>
    <input type="submit" value="Create Bookmark"></input>
  </p>
</form>
