/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bookmarks
 *= require custom
 *= require notes
 *= require sessions
 *= require videos
 *= require jquery-ui
 *= require bootstrap
 *
 *= require videojs.markers
 *
 *= require qubico
 *= require qubico-blue
 *
 *= require font-awesome
 *= require opentip 
 */


.btn-action {
 background-color: #48E499;
 border: 2px solid white;
}

.btn-action:hover { 
 background-color: #FFF ;
 color: #48E499;
}

.project-item {
  width: 20em;
  height: 16em;
  margin: 0.5em;
  background-color: #77CEE0;
  padding:0;
}

.main-link {
  text-align: center;
  padding-top: 0.5em;
  background-color: white;
  height: 3em;
  color: #7A7C7F;
}

.notes-info {
  height: 100%;
  width: 100%;
}

.notes-count {
  color: #fff;
  font-size: 6em;
  margin-top:0.2em;
  margin-bottom:0em;
  display: block;
  width: 1em;
}

.notes-count-lg {
  margin-left: 1.1em;
}

.notes-count-sm {
  margin-left: 1.4em;
  margin-right: auto;
}

.notes-text {
  margin-top:0;
  width: 3em; 
  display: block;
  color: #fff;
  font-size: 1.3em;  
}

.notes-text-lg {
  margin-left: 6.4em;
  margin-right: auto;  
}

.notes-text-sm {
  margin-left: 6.6em;
  margin-right: auto;  
}

