#notes {
  list-style-type: none;
}
.delete-note-button, .delete-bookmark-button {
  position: absolute;
  right: 5px;
  top: 0;
  color: red;
}

.edit-note-button, .edit-bookmark-button {
  position: absolute;
  right: 5px;
  top: 20px;
  color: blue;
}

.evernote-button {
  position: absolute;
  right: 5px;
  top: 40px;
  color: green;
}

.note a:hover {
  text-decoration: none;
}

.note {
  position: relative;
  border-radius: 5px !important;
  border: 1px solid #7a7c7f;
  background-color: #f6f6f6 !important;
  min-height: 15em !important;
}

.note-content * {
  border: 0 !important;
  background-color: inherit !important;
  font-size: 0.8em !important;
  font-family: 'Monaco', 'Consolas', 'Helvetica', 'Arial' !important;  
}

.news-content {
  margin: 0 !important;
  padding: 12px !important;
  font-family: Lato, Arial, sans-serif;
  font-weight: 500;
}

.edit-news-content {
  padding: 10px !important;
  border-style: none;
  margin: 0 !important;
  width: 100%;
  font-size: 0.8em !important;
  font-family: 'Monaco', 'Consolas', 'Helvetica', 'Arial' !important;  
}

.news-item {
  padding-bottom: 10px !important;
}

.news-content.no-tip:after, .news-content.no-tip:before {
  content:none !important;
}

.custom-item.filtered {
  -webkit-transform:scale(0.5);
  transform:scale(0.5);
  opacity:0.2;
  cursor:default;
}

.no-opacity .custom-item.filtered {
  display:none;
}

.custom-item.filtered a{
  cursor:default;
}

.custom-item.filtered .enlarge,
.custom-item.filtered .link,
.custom-item.filtered .overlay-mask,
.custom-item.filtered .project-title{
    display:none;
}
