// Place all the styles related to the videos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@font-face {
    font-family: 'Pacifico';
    src: asset-url('Pacifico.ttf');
    font-weight: normal;
    font-style: normal;
}

#or-buttons {
  display: inline-block;
  margin-left:1em;
  margin-right:1em;
  font-size: 1.5em;
  vertical-align: middle;
  height: 1.8em;
  font-family: 'Pacifico';
}


.tagline {
  text-align: center;
}

#main-page-actions {
  margin-left:18em;
}

.duration {
  font-size: 0.9em;
}